<!DOCTYPE html>
<html>
  <head>
    <title>Display Data</title>
  </head>
  <body>
    <h1>User Searches</h1>
    <ul>
      {% for user_search in user_searches %}
      <li><strong>{{ user_search.id }}:{{ user_search.search_terms }}:{{ user_search.total_sentiments }}:{{ user_search.created_at }}</strong></li>
      {% endfor %}
    </ul>

    <ul>
          {% for user_search in user_searches %}
          <li>
            <h1>Project</h1>
            <strong>{{ user_search.id }}:{{ user_search.search_terms }}</strong>
          </li>
          <h2>Data Fetched:</h2>
          <ul>
            {% for article in user_searches %}
              <li>Keywords: {{ article.search_terms }}</li>
              <ul>
                {% for data in article.each_keyword_combine_data %}
                <li>Keyword: {{ data.keyword }}</li>
                <li>Sentiment: {{ data.data.sentiment_label }}</li>
                <li>Source: {{ data.data.source_name }}</li>
                <a href="{{data.data.url}}" target="_blank"><img src="{{ data.data.url_to_image }}" width="50px" height="50px" alt="IMG"></a>
                <li>Title: {{ data.data.title }}</li> 
                <li>Author: {{ data.data.author }}</li>
                <li>Content: {{ data.data.content }}</li>
                <li>Published_At: {{ data.data.published_at }}</li>
                <br>
                <br>
                {% endfor %}
              </ul>
            {% endfor %}
          {% endfor %}
      </ul>
  </body>
</html>
